[submodule "Assets/3rdParty/NaughtyAttributes"]
	path = Assets/3rdParty/NaughtyAttributes
	url = https://github.com/dbrizov/NaughtyAttributes.git
[submodule "Assets/3rdParty/ScriptableObject-Architecture"]
	path = Assets/3rdParty/ScriptableObject-Architecture
	url = https://github.com/DanielEverland/ScriptableObject-Architecture
[submodule "Assets/3rdParty/EzMsg"]
	path = Assets/3rdParty/EzMsg
	url = https://github.com/FluidPlay/EzMsg
